.venv/ 
.wenv/
*venv/
*wvenv/
*venv\
*wvenv\
.gams\python\venv\
.gams\python\wvenv\
.gams/python/venv/
.gams/python/wvenv/
gams\python\venv\
gams\python\wvenv\
gams/python/venv/
gams/python/wvenv/
*.rar